@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #FFF;
  --white-gray: #f2f2f2;
  --gray-color: #A1A1AA;
  --dark-color: #181A2A;
  --black-color: #000;
  --blue-color: #4B6BFB;
  --shadow-gray: #dddddd70;
}

.overlayout {
  backdrop-filter: blur(6px);
  z-index: 1;
}

body::before,
body::after {
  content: '';
  position: fixed;
  box-shadow: -500px 0 600px 500px #ebc89d30, 752px -100px 600px 250px #ecaeaf4b, 251px 0 600px 250px #00d0ff1f;
  z-index: -1;
}

body::before {
  right: 600px;
  top: 700;
}

body::after {
  left: 300px;
  top: 40%;
}
